.header {
    background-color: #4caf50;
    padding: 10px;
    text-align: center;

    .nav-link {
        margin: 0 15px;
        text-decoration: none;
        color: white;
        font-size: 18px;

        &:hover {
            text-decoration: underline;
        }
    }
}