.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    .login-form {
        padding: 10px 10px;
        width: 100%;
        max-width: 400px;
        text-align: center;

        h2 {
            margin-bottom: 20px;
            font-size: 1.8rem;
            color: #333;
        }

        input,
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 1rem;
            box-sizing: border-box;
        }

        input {
            transition: border-color 0.3s;

            &:focus {
                border-color: #313037;
                outline: none;
            }
        }

        button {
            background-color: #313037;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #555;
            }
        }
    }
}